{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", { "targets": { "node": "12" } }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts"],
        "root": ["./src/"],
        "alias": {
          "@packages": "./src/packages"
        }
      }
    ]
  ]
}
